<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <title>PIES</title>
</head>
<body>
    <h1>This is a {{name}} pie!</h1>
    <form method="POST">
        <label for='ingredient'>Add ingredient:</label>
        <input type='text' name='ingredient' />
        <input type='submit' />
    </form>
    <p>It's ingredients are:</p>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ingredient}}</li>
        {% endfor %}
    </ul>
</body>
</html>